[submodule "dependencies/VulkanMemoryAllocator"]
	path = dependencies/VulkanMemoryAllocator
	url = git@github.com:GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "dependencies/tinyobjloader"]
	path = dependencies/tinyobjloader
	url = git@github.com:tinyobjloader/tinyobjloader.git
[submodule "dependencies/glm"]
	path = dependencies/glm
	url = git@github.com:g-truc/glm.git
[submodule "dependencies/stb"]
	path = dependencies/stb
	url = git@github.com:nothings/stb.git
